*{box-sizing: border-box;}
#left_contentsdiv {
   
    margin-right: 0px;
padding: 0px;
    width: 320px;
    margin-left: 35px;
    float: left;
    height: 680px;
    border: 1px solid rgb(219, 34, 34);
}
#left_contentsdiv1 {
    width: 100%;
    height: 99%;
  

   
 
    border: 1px solid rgb(31, 250, 250);
}


#left_contents_userinfo {
    height:100%;
    border-radius: 15px;
    padding: 5px;
    position: relative;
    border: 1px solid rgb(6, 243, 38);
}

#left_contents_userinfo>div {
    position: absolute;
    width: 94%;
}

#user_profileimg {
    width: 100%;
    height: 30%;
    border: 1px solid rgb(6, 243, 38);
    
   

}

#today_feeling {
    height: 5%;
    top: 32%;
    border: 1px solid pink;
}

#myself_introduce {
    height: 32%;
    border: 1px solid green;
    top: 38%;
}

#user_name_email {
    height: 10%;
    top: 72%;
    border: 1px solid saddlebrown;
}

#cousin_select {
    height: 15%;
    top: 84%;
    border: 1px solid salmon;
}