        *{list-style: none;
        box-sizing: border-box;
    border: 1px solid black;}
        #right_contentsdiv {
            width: 200px;
            height: 613px;
            border: 1px solid red;
        }


    #right_menu {
            box-sizing: border-box;
            width: 100px;
            height: 320px;
            border: 1px solid salmon;
            margin-top: 180px;

            
        }
        #right_menu >div{
            padding: 5px;height: 40px;border-radius: 15px;}
            #right_menu >div>a{margin-left: 5px;line-height: 30px;
               }
        #right_music {
            position: absolute;
            margin-left: 10px;
            top: 36px;
            width: 82%;
            height: 17%;
            border: 1px solid rebeccapurple;
        }

        #right_purchase_contents {
            position: absolute;
            top: 81%;
            height: 17%;
            margin-left: 10px;
            width: 83%;
            border: 1px solid aqua;
        }
